.proj {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #252527;
    width: 550px;
}

.imgContainer {
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.viewBnt {
    position: relative;
}

.imgContainer::before {
    position: absolute;
    content: "";
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
}

.projTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0 0 5px;
    line-height: 1.2;
    color: #fff;
}

.projDescription {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: #fff;
}

.projInfo {
    padding: 25px 20px;
}
