.projsBlock {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #1f1f20;

  .projsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: flex-start;
    flex-wrap: wrap;

    .projs {
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
      flex-wrap: wrap;
      margin-top: 30px;
      @media screen and (max-width: 1129px) {
        justify-content: center;

      }
    }
  }
}